@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400;600&family=Roboto:wght@100;300;400;500;700&display=swap");
html {
  height: 100%; }

body {
  height: 100%; }

div {
  margin: 0;
  padding: 0; }

img {
  display: inline-block; }

.card {
  border: 3px solid #7DA8D6; }

.card, .card-2, .card-3, .card-4 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  border-radius: 10px; }

.card-2, .card-3, .card-4 {
  display: none; }

.img-box {
  display: inline-block;
  width: 100%;
  overflow: auto; }

.img {
  padding: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: 100%; }

.select {
  display: inline-block;
  font-size: 1.2em;
  margin-right: 10px; }

.textbox {
  padding: 10px;
  display: inline-block;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }
  .textbox__header {
    font-family: 'Roboto', sans-serif; }
  .textbox__paragraph {
    font-family: 'Noto Sans', sans-serif;
    display: inline-block;
    margin-top: 0px; }
  .textbox__submit {
    text-decoration: none;
    padding: 5px;
    font-family: 'Noto Sans', sans-serif;
    color: black;
    border: 1px solid;
    border-radius: 5px; }

@media screen and (max-width: 738px) {
  .card {
    border: 3px solid #7DA8D6; }
  .card, .card-2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr; }
  .img {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px; }
  .textbox {
    margin-top: -3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; } }

@media screen and (max-width: 1200px) {
  .img {
    height: 100%; } }
